{%extends "base.html"%}

{% block content %}

<form method="post" action="{% url 'output' %}">
  {% csrf_token %}
  <textarea name="input_text"></textarea><br><br><br>

  <label class="container">Remove Punctuations
    <input type="checkbox" name="punctuation">
    <span class="checkmark"></span>
  </label>

  <label class="container">Upper Case
    <input type="checkbox" name="uppercase">
    <span class="checkmark"></span>
  </label>

  <label class="container">Lower Case
    <input type="checkbox" name="lowercase">
    <span class="checkmark"></span>
  </label>

  <label class="container">New Line Remove
    <input type="checkbox" name="newline">
    <span class="checkmark"></span>
  </label>

  <label class="container">Extra Space Remove
    <input type="checkbox" name="extraspace">
    <span class="checkmark"></span>
  </label>

  <label class="container">Count Characters
    <input type="checkbox" name="countchar">
    <span class="checkmark"></span>
  </label>

  <label class="container">Spell Check
    <input type="checkbox" name="spellcheck">
    <span class="checkmark"></span>
  </label>

  <label class="container">Generate Summary of a Word
    <input type="checkbox" name="summary">
    <span class="checkmark"></span>
  </label>

  <label class="container">Remove Stop Words
    <input type="checkbox" name="stopwords">
    <span class="checkmark"></span>
  </label><br><br>

  <input class="button" type="submit" value="Submit">
</form>

{% endblock %}